@charset "UTF-8";
/*VARIABLES*/
/*MAPAS*/
/*EXTEND*/
h2 {
  text-align: center;
  letter-spacing: 0.3rem;
  font-size: 1.875rem;
  margin-top: 5rem;
  margin-bottom: 2rem; }

h3 {
  font-weight: bold;
  padding-top: 1rem; }

/*MIXIN*/
/*GENERAL SETTINGS*/
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Ford Antenna', Open sans-serif; }

/*NAV*/
.logo {
  width: 9rem; }

/*SECTION 1 - CARROUSEL*/
h1 {
  color: #FFFFFF;
  font-size: 4rem;
  animation: rollIn;
  animation-duration: 2s; }

.carousel-caption a {
  display: block;
  z-index: 1000;
  color: #ffffff;
  font-size: 4rem;
  font-weight: 600;
  animation: rollIn;
  animation-duration: 2s; }

.altoCarousel {
  height: 38rem;
  margin-top: 4rem; }

.linkCarrousel {
  text-decoration: none;
  color: #FFFFFF; }
  .linkCarrousel:hover {
    color: #878788; }

.parrafo__carousel {
  color: #FFFFFF;
  font-size: 1.5rem; }

/*SECTION 2 - SERVICIOS*/
h2 {
  color: #0B2D5E;
  font-size: 1.875rem; }

h3 {
  color: #2367C6;
  font-size: 1.125rem; }

.servicios {
  background: linear-gradient(90deg, #fefeff 0%, #bed9e0 52%, #87e2f7 100%);
  padding: 3rem; }
  .servicios__parrafo {
    font-size: 0.875rem;
    color: #49596f;
    padding-bottom: 1rem;
    font-weight: medium; }

/*SECTION 3 - OTROS MODELOS*/
.otrosModelos {
  padding-top: 2rem;
  padding-left: 4rem; }

.textHeight {
  padding-bottom: 20%; }

.tituloTarjeta {
  font-size: 1rem;
  font-weight: bold;
  color: #0A121F; }

.parrafoTarjeta {
  font-size: 1rem;
  font-weight: normal;
  color: #49596f; }

.botonModelos {
  border-radius: 2rem;
  background-color: #0A121F;
  color: #FFFFFF;
  padding: 0.8rem; }

/*SECTION 4 - VER SUCURSALES*/
.sucursales {
  padding-top: 3rem;
  box-shadow: 0px 3px 20px 3px rgba(106, 108, 113, 0.68); }
  .sucursales__parrafo {
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #2367C6;
    padding: 1rem; }

/*SECTION 5 - CONTACTOS*/
.contacto__iconos {
  color: #2367C6;
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  justify-content: center; }

.contacto__titulos {
  font-size: 1.125rem;
  font-weight: bold;
  color: #2367C6;
  padding: 0.4rem;
  margin-bottom: 0; }

.contacto__parrafo {
  color: #49596f;
  font-size: 1rem;
  padding: 0.4rem;
  text-align: center; }

/* FORMULARIO*/
.titulo__formulario {
  font-size: 1.125rem;
  color: #2367C6;
  margin: 1.5rem;
  text-align: center; }

form {
  color: #2367C6;
  background-color: #e8e9ec;
  width: 70%;
  bottom: 1.25rem;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  box-shadow: 0px 3px 20px 3px rgba(106, 108, 113, 0.68); }
  form label {
    display: inline-block;
    width: 80%;
    color: #2367C6;
    text-align: left;
    font-size: 0.875rem; }

form input, textarea {
  width: 80%;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #FFFFFF;
  border: none;
  border-bottom: solid 1px #2367C6;
  color: #49596f; }

form textarea {
  height: 5rem;
  resize: none; }

form input:focus, textarea:focus {
  outline: none; }

form input[type="submit"] {
  margin: 1.5rem;
  background-color: #2367C6;
  padding: 0.4rem;
  font-weight: bold;
  border-radius: 0.3rem;
  cursor: pointer;
  color: #FFFFFF; }

form input[type="submit"]:hover {
  background-color: #0B2D5E; }

/*FOOTER*/
.footer {
  background-color: #0B2D5E;
  padding: 2.813rem;
  text-align: center; }
  .footer__texto {
    color: #FFFFFF;
    font-size: 0.8rem;
    margin: 0.3rem; }

.redes {
  text-align: center;
  color: #FFFFFF;
  padding: 0.938rem;
  font-size: 1.5rem; }

@media only screen and (max-width: 768px) {
  .altoCarousel {
    height: 25rem; }
  .linkCarrousel:hover {
    color: #FFFFFF; }
  .otrosModelos {
    padding-left: 1.2rem; } }

@media only screen and (max-width: 480px) {
  .logo {
    width: 4.5rem; }
  .altoCarousel {
    height: 12rem;
    margin-top: 3.4rem;
    width: 80%; }
  h1 {
    font-size: 1.5rem;
    font-weight: 400; }
  .carousel-caption a {
    z-index: 1000;
    font-size: 1.5rem;
    font-weight: 400; }
  .parrafo__carousel {
    font-size: 0.8rem; }
  .linkCarrousel:hover {
    color: #FFFFFF; }
  .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 1rem; }
  h2 {
    font-size: 1.5rem; }
  .otrosModelos {
    padding-left: 4rem; }
  form {
    width: 95%; } }

/*SECTION 1*/
.titulo {
  margin-top: 10rem; }

.boton {
  background-color: #0A121F;
  padding: 0.625rem;
  margin: 2rem auto;
  width: 15rem; }

.textoBoton {
  color: #FFFFFF;
  text-decoration: none; }
  .textoBoton:hover {
    color: #c2c2ce; }

.financiacion {
  background-color: #2367C6;
  height: 8rem;
  margin: 5rem auto; }

.textoFinanciacion {
  color: #FFFFFF;
  text-align: center;
  padding: 3rem;
  font-weight: bold;
  font-size: 2rem; }

.tituloLanzamiento {
  color: #2367C6;
  font-size: 1.125rem;
  margin-left: 2rem; }

.imagenMustang {
  margin-left: 2rem; }

.textoMustang {
  color: #49596f;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 2rem; }

@media only screen and (max-width: 768px) {
  .titulo {
    margin-top: 8rem; }
  .financiacion {
    background-color: #2367C6;
    height: 100px;
    margin-bottom: 5rem; }
  .textoFinanciacion {
    padding-top: 2.5rem;
    font-size: 1.125rem; }
  .imagenMustang {
    margin-left: 2rem; }
  .textoMustang {
    color: #49596f;
    font-size: 1rem;
    font-weight: bold; } }

@media only screen and (max-width: 480px) {
  .logo {
    width: 4.5rem; }
  .titulo {
    margin-top: 6rem; }
  .textoFinanciacion {
    padding-top: 1.1rem; }
  .alineacionMobile {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-right: 1rem; } }

/*SECCTION 1 - PORTADA*/
.portada {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 4rem; }

.tituloUsados {
  color: #32c6cc;
  font-size: 4.5rem;
  font-weight: bold;
  text-align: left;
  position: absolute;
  display: flex;
  bottom: 0.2rem;
  margin-left: 2.5rem;
  animation: rollIn;
  animation-duration: 2s; }

/*SECCTION 2 - GALERIA*/
.divOportunidades {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-bottom: 4rem; }

.fotosOportunidades {
  margin: 5% 5% 0% 5%;
  box-shadow: 0px 3px 20px 3px rgba(106, 108, 113, 0.68); }

/*SECTION 3 - BANNER*/
.animacion {
  animation: heartBeat;
  animation-duration: 5s; }

.banner {
  background-color: #d38a03;
  color: #FFFFFF;
  padding: 2.813rem;
  text-align: center;
  height: 15.625rem;
  margin-bottom: 10%; }

.textoBanner {
  color: #FFFFFF;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: normal;
  margin: 5% 5% 0% 10%;
  display: inline; }

.iconosPosventa {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly; }

.alineacion {
  padding: 1rem;
  font-size: 5.8rem; }

@media only screen and (max-width: 768px) {
  .portada {
    margin-top: 4rem; }
  .tituloUsados {
    font-size: 2rem;
    bottom: 39rem;
    margin-left: 1.5rem; }
  .textoBanner {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    margin: 5% 0% 0% 5%; } }

@media only screen and (max-width: 480px) {
  .portada {
    margin-top: 3rem; }
  .tituloUsados {
    font-size: 1.1rem;
    top: 12rem;
    margin-left: 0.7rem; }
  .animacion {
    font-size: 1.3rem; }
  .banner {
    height: 10rem;
    margin-bottom: 10%; }
  .textoBanner {
    font-size: 0.8rem;
    letter-spacing: 0rem; }
  .alineacion {
    padding: 1.5rem;
    font-size: 2.5rem; } }

/*SECCTION 1*/
.imagenesPosventa {
  display: flex;
  margin: 8rem 3rem 2rem 3rem;
  padding: 5% 0% 5% 0%;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: flex-start;
  box-shadow: 0px 3px 20px 3px rgba(106, 108, 113, 0.68); }

.parrafosPosventa {
  font-size: 0.875rem;
  line-height: 1.4rem;
  color: #49596f;
  text-align: left;
  width: 37.5rem; }

@media only screen and (max-width: 768px) {
  .tituloPosventa {
    text-align: center; }
  .form {
    width: 87%; } }

@media only screen and (max-width: 480px) {
  .imagenesPosventa {
    margin: 6rem 1rem 4rem 1rem; }
  .parrafosPosventa {
    text-align: center;
    padding: 1.5rem; }
  .tituloFormulario {
    font-size: 0.75rem;
    margin: 1.5rem; }
  .form {
    width: 80%; } }

/*SECCTION 1 PORTADA*/
.portadaNosotros {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 4rem; }

/*ACCORDION*/
.accordion {
  width: 75%;
  margin: 4rem auto; }

.accordion-button {
  margin: 2rem auto;
  background-color: #FFFFFF;
  color: #0B2D5E; }
  .accordion-button:not(.collapsed) {
    background-color: #0B2D5E;
    color: #FFFFFF; }

.accordion-item {
  border: none; }

.accordion-header {
  margin: 0.5rem; }

.interlineado {
  padding: 0;
  margin-left: 1rem; }

@media only screen and (max-width: 480px) {
  .portadaNosotros {
    margin-top: 3rem; } }

/*SECCTION 2 - CARACTERISTICAS*/
#myVideo {
  margin-top: 3rem; }

.parrafosBronco {
  font-size: 0.875rem;
  line-height: 1.4rem;
  color: #49596f;
  text-align: left;
  width: 60rem; }

.imagenesBronco {
  display: flex;
  margin: 8rem 3rem 2rem 3rem;
  padding: 5% 0% 5% 0%;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: flex-start;
  background: linear-gradient(-90deg, #fefeff 0%, #bed9e0 52%, #a4d3de 100%);
  box-shadow: 0px 3px 20px 3px rgba(106, 108, 113, 0.68); }

/*TABLA CON FICHA TÉCNICA DE BRONCO*/
table {
  box-shadow: 0px 3px 20px 3px rgba(106, 108, 113, 0.68);
  color: #49596f;
  width: 70%;
  margin: 5% 5% 10% 15%; }
  table th {
    color: #0B2D5E;
    font-size: 1.125rem;
    padding: 0.625rem; }
  table td {
    font-weight: bold;
    font-size: 1rem;
    padding: 0.938rem; }

/*SECCTION 3 - MÁS OPCIONES*/
.opciones {
  margin: 2% 5% 5% 43%;
  box-shadow: 0px 3px 20px 3px rgba(106, 108, 113, 0.68); }

.opciones:hover {
  transform: scale(1.2, 1.2); }

@media only screen and (max-width: 768px) {
  #myVideo {
    margin-top: 4rem; }
  .tituloBronco {
    text-align: center; }
  .parrafosBronco {
    line-height: 1.5rem;
    width: 35rem;
    margin-left: 2.3rem; }
  .opciones {
    margin: 2% 5% 5% 38%; } }

@media only screen and (max-width: 480px) {
  #myVideo {
    margin-top: 3rem; }
  .imagenesBronco {
    margin: 4rem 1rem 2rem 1rem; }
  .tituloBronco {
    text-align: center; }
  .parrafosBronco {
    text-align: justify;
    padding-right: 1.8rem; }
  .opciones {
    margin: 2% 5% 5% 25%; } }

.tituloError {
  color: #0B2D5E;
  font-size: 4rem;
  text-align: center;
  margin-top: 4rem;
  animation: rubberBand;
  animation-duration: 2s; }

.parrafo {
  color: #0B2D5E;
  font-size: 1.125rem;
  text-align: center; }

.alineacion {
  display: flex;
  direction: column;
  justify-content: center; }

.botonVolver {
  color: #FFFFFF;
  text-align: center;
  background-color: #0A121F;
  font-weight: bold;
  border-radius: 3rem;
  width: 12rem;
  text-decoration: none;
  margin: 1.5rem;
  padding: 1.5rem;
  font-size: 1.125rem; }
  .botonVolver:hover {
    color: #c2c2ce; }
