/*SECTION 1*/
.titulo{
    margin-top: 10rem;
}
.boton{
    background-color: $color-botones;
    padding: 0.625rem;
    margin: 2rem auto;
    width: 15rem;
}
.textoBoton{
    color: $color-principal;
    text-decoration: none;
    &:hover{
        color: #c2c2ce;
    }
}
.financiacion{
    background-color: $color-terciario;
    height: 8rem;
    margin: 5rem auto;
}
.textoFinanciacion{
    color: $color-principal;
    text-align: center;
    padding: 3rem;
    font-weight: bold;
    font-size: 2rem;
}
.tituloLanzamiento{
    color: $color-terciario;
    font-size: map-get($tamaño-fuentes, h3);
    margin-left: 2rem;
}
.imagenMustang{
    margin-left: 2rem;
}
.textoMustang{
    color: $color-parrafos;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 2rem;
}
@media only screen and (max-width:768px){
    .titulo{
        margin-top: 8rem;
    }
    .financiacion{
        background-color: $color-terciario;
        height: 100px;
        margin-bottom: 5rem;
    }
    .textoFinanciacion{
        padding-top: 2.5rem;
        font-size: map-get($tamaño-fuentes, h3);
    }
    .imagenMustang{
        margin-left: 2rem;
    }
    .textoMustang{
        color: $color-parrafos;
        font-size: 1rem;
        font-weight: bold;
    }

}
@media only screen and (max-width:480px){
    .logo{
        width: 4.5rem;
    }
    .titulo{
        margin-top: 6rem;
    }
    .textoFinanciacion{
        padding-top: 0.8rem;
        
    }
}