/*SECCTION 2 - CARACTERISTICAS*/
#myVideo{
    margin-top: 3rem;
}
.parrafosBronco{
    font-size: 0.875rem;
    line-height: 1.4rem;
    color: $color-parrafos;
    text-align: left;
    width: 60rem; 
}
.imagenesBronco{
    display: flex;
    margin: 8rem 3rem 2rem 3rem;    
    padding: 5% 0% 5% 0%;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: flex-start;
    background: linear-gradient(-90deg, rgba(254,254,255,1) 0%, rgba(190,217,224,1) 52%, rgba(164,211,222,1) 100%);
    box-shadow: 0px 3px 20px 3px rgba(106,108,113,0.68)
}
/*TABLA CON FICHA TÉCNICA DE BRONCO*/
table{
    box-shadow: 0px 3px 20px 3px rgba(106,108,113,0.68);;
    color:$color-parrafos;
    width: 70%;
    margin: 5% 5% 10% 15%;
    th{
        color: $color-secundario;
        font-size: 1.125rem;
        padding: 0.625rem;}
    td{
        font-weight: bold;
        font-size: map-get($tamaño-fuentes, parrafos);
        padding: 0.938rem;
    }
}
/*SECCTION 3 - MÁS OPCIONES*/
.opciones{
    margin: 2% 5% 5% 43%;
    box-shadow: 0px 3px 20px 3px rgba(106,108,113,0.68);
}
.opciones:hover{
    transform: scale(1.2,1.2);
}
@media only screen and (max-width:768px){
    #myVideo{
        margin-top: 4rem;
    }
    .tituloBronco{
        text-align: center;
    }
    .parrafosBronco{
        line-height: 1.5rem;
        width: 35rem;
        margin-left: 2.3rem;
    }
    .opciones{
        margin: 2% 5% 5% 38%;
    }
}
@media only screen and (max-width:480px){
    #myVideo{
        margin-top: 3rem;
    }
    .imagenesBronco{
        margin: 4rem 1rem 2rem 1rem;
    }
    .tituloBronco{
        text-align: center;
    }
    .parrafosBronco{
        text-align: justify;
        padding-right: 1.8rem;
    }
    .opciones{
        margin: 2% 5% 5% 25%;
    }
}



