
.tituloError{
    color: $color-secundario;
    font-size: 4rem;
    text-align: center;
    margin-top: 4rem;
    animation: rubberBand;
    animation-duration: 2s;
}
.parrafo{
    color: $color-secundario;
    font-size: map-get($tamaño-fuentes, h3);
    text-align: center;
}
.alineacion{
    display: flex;
    direction: column;
    justify-content: center;
}
.botonVolver{
    color: $color-principal;
    text-align: center;
    background-color: $color-botones;
    font-weight: bold;
    border-radius: 3rem;
    width: 12rem;
    text-decoration: none;
    margin: 1.5rem;
    padding: 1.5rem;
    font-size: map-get($tamaño-fuentes, h3);
    &:hover{
        color: #c2c2ce;
    }
}