/*GENERAL SETTINGS*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Ford Antenna', Open sans-serif;
}
/*SECTION 1 - CARROUSEL*/
.logo{
    width: 9rem;
}
h1{
    color: $color-principal;
    font-size: 4rem;
    animation: rollIn;
    animation-duration: 2s;
}

.carousel-caption a{
    display: block;
    z-index: 1000;
    color: #ffffff;
    font-size: 4rem;
    font-weight: 600;
    animation: rollIn;
    animation-duration: 2s;
}
.altoCarousel{
    height: 50rem;
    margin-top: 4rem;
}
.linkCarrousel{
    text-decoration: none;
    color: $color-principal;
    &:hover{
        color: #878788;
    }
}
.parrafo__carousel{
    color:$color-principal;
    font-size: map-get($tamaño-fuentes, h1);
}
/*SECTION 2 - SERVICIOS*/
h2{
    color: $color-secundario;
    font-size: map-get($tamaño-fuentes, h2);
    @extend %tituloSecciones;
}
h3{
    color: $color-terciario;
    font-size: map-get($tamaño-fuentes, h3);
    @extend %titulosTerciarios;
}
.servicios{
    background: linear-gradient(90deg, rgba(254,254,255,1) 0%, rgba(190,217,224,1) 52%, rgba(135,226,247,1) 100%);
    padding: 3rem;
    &__parrafo{
    font-size: 0.875rem;
    color:$color-parrafos;
    padding-bottom: 1rem;
    font-weight: medium;    
    }
}
/*SECTION 3 - OTROS MODELOS*/
.otros__modelos{
    padding-top: 2rem;
    padding-left: 4rem;
}
.text__height{
    padding-bottom: 20%;
}
.titulo__tarjeta{    
    font-size: 1rem;
    font-weight: bold;
    color: $color-botones;
}
.parrafo__tarjeta{    
    font-size: 1rem;
    font-weight: normal;
    color: $color-parrafos;
}
.boton__modelos{
    border-radius: 2rem;
    background-color: $color-botones;
    color:$color-principal;
}
/*SECTION 4 - VER SUCURSALES*/
.sucursales{
    padding-top: 3rem;
    box-shadow: 0px 3px 20px 3px rgba(106,108,113,0.68);
    &__parrafo{
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: $color-terciario;
    padding: 1rem;
}
}
/*SECTION 5 - CONTACTOS*/
.contacto__iconos{
    color: #2367C6;
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    justify-content: center;
}
.contacto__titulos{
    font-size: map-get($tamaño-fuentes, h3);
    font-weight: bold;
    color: $color-terciario;
    padding: 0.4rem;
    margin-bottom: 0; 
}
.contacto__parrafo {
    color: $color-parrafos;
    font-size: map-get($tamaño-fuentes, parrafos);
    padding: 0.4rem;
    text-align: center;
}
/* FORMULARIO*/
.titulo__formulario{
    font-size: map-get($tamaño-fuentes, h3);
    color: $color-terciario;
    margin: 1.5rem;
    text-align: center;
}
form{
    color: $color-terciario;
    background-color: #e8e9ec;
    width: 70%;                     
    bottom: 1.25rem;
    padding: 1rem;
    border-radius: 0.5rem; 
    text-align: center;
    box-shadow: 0px 3px 20px 3px rgba(106,108,113,0.68);
    label{
        display: inline-block;
        width: 80%;
        color: $color-terciario;
        text-align: left;
        font-size: 0.875rem;
    }
}
form input, textarea{
    width: 80%;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: $color-principal;
    border: none;
    border-bottom: solid 1px $color-terciario;
    color: $color-parrafos;
}
form textarea{
    height: 5rem;
    resize: none;
}
form input:focus, textarea:focus{
    outline: none;
}
form input[type="submit"]{
    margin: 1.5rem;
    background-color: $color-terciario;
    padding: 0.4rem;
    font-weight: bold;
    border-radius: 0.3rem;
    cursor: pointer;
    color: $color-principal;
}
form input[type="submit"]:hover{
   background-color: $color-secundario;
}

/*FOOTER*/
.footer{
    background-color: $color-secundario;
    padding: 2.813rem;
    text-align: center;
    &__texto{
    color: $color-principal;
    font-size: 0.8rem;
    margin: 0.3rem;
    }
}
.redes{
    text-align: center;
    color: $color-principal;
    padding: 0.938rem;
    font-size: 1.5rem;
}
@media only screen and (max-width:768px){
    .altoCarousel{
        height: 25rem;
    }
    .linkCarrousel{
        &:hover{
            color:$color-principal;
        }
    }
    .otros__modelos{
        padding-left: 1.2rem;
    }

}
@media only screen and (max-width:480px){
    .logo{
        width: 4.5rem;
    }
    .altoCarousel{
        height: 12rem;
        margin-top: 3.4rem;
        width: 80%;
    }
    h1{
        font-size: 1.5rem;
        font-weight: 400;
    }
    .carousel-caption a{
        z-index: 1000;
        font-size: 1.5rem;
        font-weight: 400;
    }
    .parrafo__carousel{
        font-size: 0.8rem;
    }
    .linkCarrousel{
        &:hover{
            color:$color-principal;
        }
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
        width: 1rem;
    }
    h2{
        font-size: 1.5rem;
    }
    .otros__modelos{
        padding-left: 2.2rem;
    }    
    form{
        width: 95%;
    }
}

