/*SECCTION 1 PORTADA*/
.portadaNosotros{
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 4rem;      
}
/*ACCORDION*/
.accordion{
    width: 75%;
    margin: 4rem auto;
}
.accordion-button {
    margin: 2rem auto;
    background-color:$color-principal;
    color: $color-secundario;
    &:not(.collapsed){
        background-color: $color-secundario;
        color: $color-principal;
    }
}
.accordion-item {
    border: none;
}
.accordion-header{
    margin: 0.5rem;
}
.interlineado{
    padding: 0;
    margin-left: 1rem;
}
@media only screen and (max-width:480px){
.portadaNosotros{
    margin-top: 3rem;
    }    
}