/*HEADER*/
/*MENU*/
header{
    background-color: #203556;
    height: 7rem;
    box-shadow: 2px 7px 9px 3px rgba(73,89,111,0.6);
    position: sticky;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    z-index: 1;
}
.logo{
    width: 9rem;
    margin-left: 2rem;
    margin-bottom: 1.3rem;   
}
nav{
    ul{
        li{
            display: inline-block;
            font-size: 1.2rem;
            font-weight: normal;
            color: $color-principal;
            margin-left: 2rem;
            a{
                color: $color-principal;
                text-decoration: none;
                &:hover{
                    background-color: rgba(255, 255, 255, 0.507);
                }
            }
         
        } 
    }
}
.linkActive{
    background-color: rgba(254, 254, 255, 0.192);
}
/*SUBMENU*/
.submenu{
    position: relative;
    z-index: 1;
    color: $color-principal;
    &__lista{
    display: none;
    position: absolute;
    width: 590%;
    &__items{
    display: block;
    background-color: #203556;
    height: 40px;
    }
    }
}
ul{
    li{
        &:hover ul{
            display: block;
        }
        a{
            padding: 1rem;
            
        }
    }
}
/*SECCTION 1*/
.parrafoNosotros{
    font-size: map-get($tamaño-fuentes, parrafos);
    font-style: italic;
    line-height: 1.5rem;
    color:$color-parrafos;
    box-shadow: 0px 3px 20px 3px rgba(106,108,113,0.68);
    text-align: justify;
    margin: 1.25rem;
    padding: 2rem;
}
.listaValores{
    text-align: center;
    list-style: none;
    margin: 1.25rem;
    margin-bottom: 10%;
    padding: 2rem;
    font-size: map-get($tamaño-fuentes,parrafos); 
    font-style: italic;
    font-weight: bold;
    color: $color-parrafos;
    box-shadow: 0px 3px 20px 3px rgba(106,108,113,0.68);
}
/*FOOTER*/
.footer{
    background-color: $color-secundario;
    padding: 2.813rem;
    text-align: center;
    &__texto{
    color: $color-principal;
    font-size: 0.8rem;
    margin: 0.3rem;
    }
}
.redes{
    text-align: center;
    color: $color-principal;
    padding: 0.938rem;
    font-size: 1.5rem;
}