/*VARIABLES*/
$color-principal: #FFFFFF;
$color-secundario: #0B2D5E;
$color-terciario: #2367C6;
$color-parrafos:#49596f;
$color-botones: #0A121F;

/*MAPAS*/
$tamaño-fuentes:(
    h1: 1.5rem,
    h2: 1.875rem,
    h3: 1.125rem,
    parrafos: 1rem,
    parrafo-img: 0.875rem,
);